# Ignore everything but Qsys source files
streaming_dma_test_system/
ip/streaming_dma_test_system/streaming_dma_test_system_reset_in/
ip/streaming_dma_test_system/mmio_bridge/
ip/streaming_dma_test_system/host_rd_bridge/
ip/streaming_dma_test_system/emif_B_bridge/
ip/streaming_dma_test_system/emif_A_bridge/
ip/streaming_dma_test_system/streaming_dma_afu_id/
ip/streaming_dma_test_system/host_wr_bridge/
ip/streaming_dma_test_system/emif_B_clock/
ip/streaming_dma_test_system/emif_A_clock/
ip/streaming_dma_test_system/dma_clock/
streaming_dma_bbb/
ip/msgdma_bbb/csr_bridge/
ip/msgdma_bbb/memory_to_stream_dispatcher/
ip/msgdma_bbb/mem_write_bridge/
ip/msgdma_bbb/streaming_dma_bbb_reset_in/
ip/msgdma_bbb/host_read_bridge/   
ip/msgdma_bbb/memory_to_stream_master/
ip/msgdma_bbb/streaming_dma_bbb_clock_in/
ip/msgdma_bbb/stream_to_memory_dispatcher/
ip/msgdma_bbb/host_write_bridge/  
ip/msgdma_bbb/mem_read_bridge/
ip/msgdma_bbb/streaming_dma_bbb_id/
ip/msgdma_bbb/stream_to_memory_master/
.qsys_edit
