# Ignore everything but Qsys source files
stream_to_memory_dma_bbb/*
!stream_to_memory_dma_bbb/*.ip

streaming_dma_test_system/*
!streaming_dma_test_system/*.ip

memory_to_stream_dma_bbb/*
!memory_to_stream_dma_bbb/*.ip

.qsys_edit
